* {
    margin: 0%;
    padding: 0%;
    box-sizing: 100%;
}


.AccordionCenter {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
ul {
    list-style-type: none;
}
img {
    box-sizing: border-box;
    max-width: 100%;
}
.paddingright {
    padding-right: 5px;
}
.indexcarousel {
    align-items: center;
    max-width: max-content;
    min-width: min-content;
}
.indexcarousel image {
    margin: 25%;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
}
